#na {
  /* background-color: #343a40; */
}

.navbar-brand-image {
  background-color: white;
  border-radius: 50%;
}

.navbar-brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

@media (max-width: 768px) {
  .navbar-brand {
    text-align: center;
    max-width: 100%;
  }

  .navbar-brand-image {
    margin: 0 auto;
  }
}
